<launch>

  <!-- Publish point cloud from file -->
  <node pkg="point_cloud_io" type="read" name="read" output="screen">
    <param name="file_path" value="$(find csbpl_demo)/models/mit_stata/pcl_wo_ceiling/FP_02.ply" />
<!--     <param name="file_path" value="$(find csbpl_demo)/models/mit_stata/stata_05_up.ply" /> -->
<!--     <param name="file_path" value="$(find point_cloud_io)/examples/cow.ply" /> -->
    <param name="topic"     value="/point_cloud" />
    <param name="frame"     value="map" />
    <param name="rate"      value="0.1" />
  </node>

  <!-- Visualize the point cloud in rviz -->
<!--   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find point_cloud_io)/examples/point_cloud_io.rviz" /> -->

</launch>
