<launch>

  <!-- Write point clouds to file -->
  <node pkg="point_cloud_io" type="write" name="write" output="screen">
    <param name="topic"                  value="/cloud_in" />
    <param name="folder_path"            value="$(find csbpl_demo)/models/narrow_gap/map_maker/ply" />
<!--     <param name="file_prefix"            value="received_cloud" /> -->
    <param name="file_ending"            value="ply" />
<!--     <param name="add_counter_to_path"    value="true" /> -->
<!--     <param name="add_frame_id_to_path"   value="true" /> -->
<!--     <param name="add_stamp_sec_to_path"  value="true" /> -->
<!--     <param name="add_stamp_nsec_to_path" value="true" /> -->
  </node>

</launch>
